# Nouns API
export NOUNS_API=http://API_URL

# ElasticSearch
export ELS_HOST=http://IP:PORT
export ELS_USER=
export ELS_PASSWORD=
export ELS_WIN_INDEX=
export ELS_TEXT_INDEX=

# Kafka
export BROKER=IP:PORT
export TOPICS=TOPIC_1,TOPIC_2
export ConsumerGroup=
